<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <!-- Display error messages -->
    {{#if errorMessage}}
    <div class="error-message">
        {{errorMessage}}
    </div>
    {{/if}}

    <!-- Display success messages -->
    {{#if successMessage}}
    <div class="success-message">
        {{successMessage}}
    </div>
    {{/if}}

    <!-- Back button -->
    <a href="/status" class="back-button">&lt; Back</a>

    <form action="/status/submitEdit/{{item._id}}" method="POST">
        <h1>Edit Item</h1>
        <!-- Hidden input to send the HTTP method -->
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="userName" value="{{admin.name}}">
        <!-- Hidden input to store the current picture value -->
        <input type="hidden" id="currentPicture" name="currentPicture" value="{{item.picture}}">
        
        <label for="product">Product:</label>
        <input type="text" id="product" name="product" value="{{item.product}}" required readonly> <!--this is only set as read only meaning it cant be edited-->
        
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="{{item.quantity}}" required readonly> <!--this is only set as read only meaning it cant be edited-->
        
        <label for="maxQuantity">Maximum Quantity:</label>
        <input type="number" id="maxQuantity" name="maxQuantity" value="{{item.maxQuantity}}" required>

        <label for="unit">Unit of measurement:</label>
        <select name="unit" id="unit" name="unit">
            <option value="grams">Grams</option>
            <option value="milliliters">Milliliters</option>
            <option value="pieces">Pieces</option>
        </select>

        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="breakfast">Breakfast</option>
            <option value="condiments">Condiments</option>
            <option value="drinks">Drinks</option>
            <option value="fruits">Fruits</option>
            <option value="kitchen aid">Kitchen Aid</option>
            <option value="resto">Resto</option>
            <option value="vegetables">Vegetables</option>
        </select>

        <button type="submit">Submit</button>
    </form>

    <script>
        // JavaScript code to set the selected attribute based on item.unit and item.category
        document.addEventListener("DOMContentLoaded", function () {
            const itemUnit = "{{item.unit}}";
            const itemCategory = "{{item.category}}";

            const unitSelect = document.getElementById("unit");
            const categorySelect = document.getElementById("category");

            // Set selected option for unit select element
            for (let option of unitSelect.options) {
                if (option.value === itemUnit) {
                    option.selected = true;
                    break;
                }
            }

            // Set selected option for category select element
            for (let option of categorySelect.options) {
                if (option.value === itemCategory) {
                    option.selected = true;
                    break;
                }
            }
        });

        // Get the current picture value
        const currentPicture = document.getElementById('currentPicture').value;
        // Get the picture input field
        const pictureInput = document.getElementById('pictureInput');
        // If there's already a current picture, disable the picture input field
        if (currentPicture !== "") {
            pictureInput.disabled = true;
        } 
    </script>
</body>

</html>