<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/status.css">
    <title>Status</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="brand">
                <a href="/goHomeAdmin" style="font-family: 'Roboto', sans-serif;">Stack Inventory - ADMIN : Item Table</a>
            </div>
            <ul class="navbar-menu">
                <li>Welcome, <strong style="color: #4C43A2;">{{admin.name}}</strong></li>
                <li><a href="/aboutAdmin">About</a></li>
                <li><a href="/contactAdmin">Contact</a></li>
            </ul>
        </nav>
    </header>

    <aside>
        <ul>
            <li><img src="Casanas Suites.png" alt="Casanas Suites Logo"></li>
            <li><a href="/goHomeAdmin">Home</a></li>
            <li><a href="/status">Status</a></li>
            <li><a href="/report">Reports</a></li>
            <li><a href="/changeLog">Change logs</a></li>
            <li><a href="/needToBuy">Need to Buy</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </aside>
    
    <main>
        <div class="header">
            <div>
                <button onclick="window.location.href='/status/createItem'">Create</button>
                <!--button onclick="openConfirmationModal()">Backup data</button>
                <button onclick="openImportConfirmationModal()">Import Data</button-->
                <p>Item Count: {{itemCount}}</p>
            </div>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search by product...">
                <button onclick="search()">Search</button>
            </div>
        </div>

        <!-- Modal for data backup -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeConfirmationModal()">&times;</span>
                <p>Are you sure you want to backup all of the data?</p>
                <p>Backup may take for a while.</p>
                <p>Only do this if you are not busy.</p>
                <div class="modal-buttons">
                    <button onclick="doBackup()">Yes</button>
                    <button onclick="closeConfirmationModal()">No</button>
                </div>
            </div>
        </div>

        <div id="progressModal" class="modal">
            <div class="modal-content">
                <p>Backup is currently in progress.</p>
                <p>This may take a minute, please wait...</p> <br>
                <img class="loader-img" src="/loader.gif" alt="loading">
            </div>
        </div>

        <!-- Modal for data import -->
        <div id="importConfirmationModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeImportConfirmationModal()">&times;</span>
                <p>Are you sure you want to import all of the data?</p>
                <p>Make sure that you have a folder named <strong style="color: red;">'data_backup'</strong> which is produced by backup data button.</p>
                <strong style="color: green;">desktop</strong> which is produced by backup data button.</p>
                <p>Only do this if you are not busy.</p>
                <div class="modal-buttons"></div>
                    <button onclick="doImport()">Yes</button>
                    <button onclick="closeImportConfirmationModal()">No</button>
                </div> 
            </div>
        </div>

        <div id="importProgressModal" class="modal">
            <div class="modal-content">
                <p>Importing data is currently in progress.</p>
                <p>This may take a minute, please wait...</p> <br>
                <img class="loader-img" src="/loader.gif" alt="loading">
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Maximum Set</th>
                    <th>Unit</th>
                    <th>Category</th>
                    <th>Date Created</th>
                    <th>Last Updated</th>
                    <th>Last Edit</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each itemCollection}}
                    <tr>
                        <td>{{this.product}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.maxQuantity}}</td>
                        <td>{{this.unit}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>{{this.updatedAt}}</td>
                        <td>{{this.lastUpdatedBy.user}} {{this.lastUpdatedBy.admin}}</td> <!--this will show either the accounts of users or the admins depending on whats avail-->
                        <td>
                            <a href='/status/edit/{{this._id}}'>
                                <img class="table-icon" src="/edit.png" alt="edit">
                            </a>
                            
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </main>
    
    <script>
        function search() {
            // Get the value entered in the search input
            const searchTerm = document.getElementById('searchInput').value.trim().toLowerCase();

            // Get all table rows
            const rows = document.querySelectorAll('tbody tr');

            // Loop through each row and hide those that don't match the search term
            rows.forEach(row => {
                const product = row.querySelector('td:first-child').textContent.trim().toLowerCase();
                if (product.includes(searchTerm)) {
                    row.style.display = ''; // Show row
                } else {
                    row.style.display = 'none'; // Hide row
                }
            });
        }

        // Function to open the confirmation modal
        function openConfirmationModal() {
            const modal = document.getElementById('confirmationModal');
            modal.style.display = 'block';
        };

        // Function to close the confirmation modal
        function closeConfirmationModal() {
            const modal = document.getElementById('confirmationModal');
            modal.style.display = 'none';
        };


        function openProgressModal() {
            const modal = document.getElementById('progressModal');
            modal.style.display = 'block';
        };

        // Function to close the progress modal
        function closeProgressModal() {
            const modal = document.getElementById('progressModal');
            modal.style.display = 'none';
        };

        // Function to open the confirmation modal
        function openImportConfirmationModal() {
            const modal = document.getElementById('importConfirmationModal');
            modal.style.display = 'block';
        };

        // Function to close the confirmation modal
        function closeImportConfirmationModal() {
            const modal = document.getElementById('importConfirmationModal');
            modal.style.display = 'none';
        };

        function openImportProgressModal() {
            const modal = document.getElementById('importProgressModal');
            modal.style.display = 'block';
        };

        // Function to close the progress modal
        function closeImportProgressModal() {
            const modal = document.getElementById('importProgressModal');
            modal.style.display = 'none';
        };

        async function doBackup() {
            // Open the progress modal
            closeConfirmationModal();
            openProgressModal();
            try {
                const response = await fetch('/status/backupData', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    // Wait for the server to restart (this is a workaround)
                    await new Promise(resolve => setTimeout(resolve, 10000));

                    // Close the progress modal
                    closeProgressModal();

                    // Show the alert after the server has restarted
                    const data = await response.json();
                    alert(data.message);
                } else {
                    throw new Error('Backup failed');
                }
            } catch (error) {
                console.error('Error during backup:', error);
                alert('An error occurred during backup');
                window.location.reload();
            } finally {
                 // Close the progress modal
                closeProgressModal();
                closeConfirmationModal();
                window.location.reload();
            }
        }

        async function doImport() {
            // Open the progress modal
            closeImportConfirmationModal();
            openImportProgressModal();
            try {
                const response = await fetch('/status/importData', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    // Wait for the server to restart (this is a workaround)
                    await new Promise(resolve => setTimeout(resolve, 10000));

                    // Close the progress modal
                    closeImportProgressModal();

                    // Show the alert after the server has restarted
                    const data = await response.json();
                    alert(data.message);
                } else {
                    throw new Error('Import failed');
                }
            } catch (error) {
                console.error('Error during import:', error);
                alert('An error occurred during import');
                window.location.reload();
            } finally {
                 // Close the progress modal
                closeImportProgressModal();
                closeImportConfirmationModal();
                window.location.reload();
            }
        }
    </script>
</body>
</html>
